body {
	font-family: Arial, sansa-serif;
	margin:0;
	padding: 0;
	background-color: #aed6f1;	
}
header{
	background-color: darkslateblue;
	color: white;
	text-align: center;
	padding: 1em 0;
    width: 100%;
    top: 0;
    z-index: 1000;
    position: fixed;
}
nav{
	margin: 50px;
    align-items: center;
    max-width: 1200px;
    padding: 0 1em;
    justify-content: space-between;
}
nav ul li{
    color: aliceblue;
    text-decoration: none;
	display: inline;
	margin-right: 50px;
}
nav ul li:hover{
	color: chocolate;
}
nav ul{
	list-style-type: none;
	padding: 0;
    display: flex;
    gap: 1em;
}
nav a:hover{
    color: chocolate;
}
main{
	margin: 20px;
}
footer{
	background-color: #000000;
	color: white;
	text-align: center;
	padding: 1em;
}
section{
    display: block;
    padding: 300px 20px;
    align-content: flex-start;
}
@media (max-width: 768px) {
    nav ul {
    display: none;
    flex-direction: column;
    width: 100%;
    background-color: #333;
    }
    nav ul li a {
    padding: 1em;
    text-align: center;
    }
    #nav-toggle {
    display: block;
    }
    .nav-open ul {
    display: flex;
    }
}